.product-image-container {
  width: 100%;
  
  .main-image-wrapper {
    width: 100%;
    height: 300px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
    
    .main-image {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 767px) {
  .product-image-container {
    .main-image-wrapper {
      height: 350px;
    }
  }
}